.home-footer {
  text-align: center;
  background-color: royalblue;
}

.home-footer h2 {
  font-size: 2rem;
  color: white;
}

.home-footer p {
  font-size: 1rem;
  color: white;
}



